/*Background: #F2F1E8
Text: #131511
Inline Link: #968772
Inline Link (Hover): #967343
Navigation Background: #FFFFFF
Navigation Text: #2B2F26
Navigation Text (Hover): #CD5D67
Navigation Text (Active) #968772
Button Background: #968772
Button Background (Hover): #967343
Button Text: #F2F1E8
Button Text (Hover): #FFFFFF
Input Border Bottom: #968772
Input Border Bottom (Focus): #967343*/


body{
  font-family: "Merriweather";
  line-height: 2;
  background-color: #F2F1E8;
  margin: 0;
  color: #131511;
  font-size: 1.1em;
}

nav{
  background-color: #FFFFFF;
  display: flex;
  background: white;
  align-items: center;
  font-family: "Roboto";
}

nav a{
  text-transform: uppercase;
  color: #2b2726;
  padding: 10px;
  font-size: 20px;
}

nav a:hover{
  color: #cd5d67;
}
nav a.active{
  color: #968772;
}

nav a img{
  height: 55px;
}
#logo{
  flex-basis: 35%;
}
.wrapper{
  padding: 100px;
}

header{
  height: 70px;
}

.abouth{
  text-align: center;
  margin: 1px;
}
.abouth h1{
  font-size: 4em;
  margin: 0;
}
.abouth h3{
  font-size: 2em;
  margin: 0;
}

#index-main{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.imgbox{
  /*flex-basis: */
  padding: 5px;
  height: 400px;
  background-size: cover;
  margin-bottom: 10px;
  position: relative;
}

#art1{
  background-image: url("/Users/eligarcia/Desktop/Development/week1/optimized/product-1.jpg");
  flex-basis: 60%;
}

#art2{
  background-image: url("/Users/eligarcia/Desktop/Development/week1/optimized/product-2.jpg");
  flex-basis: 18%;
}

#art3{
  background-image: url("/Users/eligarcia/Desktop/Development/week1/optimized/product-3.jpg");
  flex-basis: 18%;

}

#art4{
  background-image: url("/Users/eligarcia/Desktop/Development/week1/optimized/product-4.jpg");
  flex-basis: 18%;
}

#art5{
  background-image: url("/Users/eligarcia/Desktop/Development/week1/optimized/product-5.jpg");
  flex-basis: 18%;
}

#art6{
  background-image: url("/Users/eligarcia/Desktop/Development/week1/optimized/product-6.jpg");
  flex-basis: 40%;
}

#art7{
  background-image: url("/Users/eligarcia/Desktop/Development/week1/optimized/product-7.jpg");
  flex-basis: 18%;
}

.imgbox p{
  background-color: #2b2f26;
  padding: 10px;
  color: white;
  position: absolute;
  bottom: 10px;
}

blockquote{
  border-left: solid 1px;
  border-color: #2b2f26;
  text-align: left;
  padding-left: 19px;
  font-style: italic;
  font-weight: lighter;
}


#img1{
  height: 122px;
  float: left;
  margin: 18px;
}
#img2{
  height: 122px;
  margin: 18px;
}

.sidepara{
  float: right;
  width: 20%;
  font-size: 1em;

}

.banner{
  background-image: url(/Users/eligarcia/Desktop/Development/week1/optimized/background-3.jpg);
  background-size:cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-align: center;
  color: white;
  height: 300px;
  font-size: 4em;
}

.clearfix {
  overflow: auto;
  zoom: 1;
}
